link(rel='stylesheet' href='main.css')

footer.footer
    a(href='https://homotopy.dev/library/')
       img.footer__logo(src='https://homotopy.dev/images/seal.png',width=50)
    span.footer__copy 2016&mdash;2022 &copy; <a href="https://5ht.co/" style="color:Lavender;">Namdak Tönpa</a>
    script(src='https://groupoid.space/bundle.js')
    script(src='https://groupoid.space/highlight.js')
